{% extends 'base_layout.html' %}
{% block content %}
{% load account %}{% user_display user as user_display %}{% load i18n %}
{% autoescape off %}
<div style="background: linear-gradient(to right, #1a1a1a, #1a1a1a) !important; background-color: #1a1a1a !important; padding: 20px; border-radius: 8px;">

<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #ebeaea !important;">
    ¡Hola!
</p>
<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #ebeaea !important;">
    Hemos notado que has solicitado restablecer la contraseña de tu cuenta. ¡No te preocupes! <br>
    Aquí tienes 3 pasos rápidos y seguros para configurar una nueva contraseña:
</p>
<ol style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; padding-left: 20px; color: #a0a0a0 !important;">
    <li>Haz clic en el enlace de abajo para confirmar tu nueva contraseña.</li>
    <li>Una vez confirmado, serás redirigido a una pestaña para realizar el cambio</li>
    <li>Escribe una nueva contraseña y confirmala para poder volver a acceder a tu cuenta</li>
</ol>
<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #a0a0a0 !important;">
    Esta solicitud fue realizada el: {% now "DATETIME_FORMAT" %}
</p>
<div style="text-align: center; margin: 20px 0;">
    <a href="{{ password_reset_url }}" target="_blank" style="display: inline-block; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif; font-size: 16px; font-weight: bold; color: #ffffff !important; background-color: #667eea !important; border: solid 1px #667eea !important; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; margin: 0; padding: 12px 25px; text-transform: capitalize;">
        Confirmar restablecimiento de contraseña
    </a>
</div>
</div>
{% endautoescape %}
{% endblock %}